body {
    font-family: sans-serif;
    background-color: #ebeae6;
    margin: 0;
}
ul {
    list-style-type: none;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #E7E7E7;
}
li {
    display: inline;
    padding: 1em;   
}
header {
    background-color: #363636;
    text-align: center;
    padding: 5px;
}

.middle-section img {
    float: left;
    padding: 3em;
    width: 30%;
    height: 32em;
    margin-top: -50px;
    margin-left: 50px;
}

.paragraph {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    position: relative;
    top: 70px;
}

.cta {
    background-color: #f48f3f;
    color: white;
    padding: 15px 80px;
    text-align: center;
    display: inline-block;    
    margin: 5%;
    margin-left: 15%;
    border-radius: 6px;
    position: relative;
}

.footer {
    background-color: #011826;
    text-align: center;
    padding: 40px;
    margin-top:8.2em;
}

#ft {
    color: white;
    font-size: 20px;
}

.cta1 {
    background-color: #f48f3f;
    color: white;
    padding: 12px 120px;
    text-align: center;
    display: inline-block;    
    margin-left: 1em;
    border-radius: 10px;
    position: relative;
}
