$logoColor : #95A5A6;
$middleColor: #B1B1B1;
$hColor: #000000;
$menuColor: #DEE1E1;
$underlineColor: #A1AEB0;

$tablet: 767px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
        
}

$desktop: 1024px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

$monitor: 1200px;

@mixin monitor {
    @media (min-width: #{$monitor}) {
        @content;
    }
        
}

header.clone {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    padding: 2em 1em 1em 1em;
}

ul {
    list-style-type: none;
}

nav {
    display: block;   
}

.hide {
    display: none;
}


.header {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 10em;

    nav {
        display: flex;
        justify-content: space-between;
        #logo {
            color: $logoColor;          
        }
        #nav-icon {
            color: $menuColor;      
        }
        .menu {
            padding: 2em 0 0 1em;
            a {
                color: $menuColor;
            }
        }   
        .header-links {
            position: fixed; 
            z-index: 1;
            text-align: left;
            right: 0;
            top: 0;
            margin-top: 0;
            margin-bottom: 0;
            background: rgba(0, 0, 0, 0.95);
            height: 100%;
            width: 70%;
            
            a {
                color: #767777;
                display: block;
                &:hover {
                    color: #fff;
                }
            }

            #times {
                color: #999999;
                text-align: right;
                -webkit-text-stroke: 1px #999999;
                padding: 2em 2em 0 2em;

                &:hover {
                    color: #000;
                    -webkit-text-stroke: 0;
                }
            }

            li {
                text-align: left;
                margin-left: -2em;
                font-weight: 550;
            }

            .link-border {
                border-bottom: 1px #202122 solid;
                margin-right: 2em;              
            }

            @include tablet {
                width: 40%;
            }
            @include desktop {
                width: 25%;
            }
            @include monitor {
                width: 20%;
            }
        }
 }
}

    .slider {
        position: absolute;
        z-index: -5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-size: cover;

        img {
            height: 23em;
            @include desktop {
                height: 40em;
                background-attachment: fixed;
                background-position: center;
            }
        }

        .greeting{
            margin-top: -18em;
            padding: 0 0 1em 0;

            p {
            color: $middleColor;
            padding: 0 1em 0 1em;
            letter-spacing: .2em;
            line-height: 1.8em;
  
            @include desktop {
                font-size: 1em;
                padding-top: -5em;
            }
        
            @include monitor {
                font-size: 1em;
                margin-top: -5em;
            }
        
            #template {
                color: $menuColor;
            }        
        }
        
        h1 {
            color: #ffffff;
            font-size: 3em;
            font-weight: 100;
        
            @include tablet {
                font: 100;
                font-size: 5rem;   
            }

            @include desktop() {
                padding-top: 3em;
                margin-top: -3em;
            }
         }
   
        }

        @include tablet {
            padding-bottom: 10em;
        }

        @include monitor {
            height: 30em;
        }

        .bullet-points { 
            position: absolute;
            margin-left: 25%;
            @include tablet {
                margin-left: 40%;
            }

            @include desktop {
                margin-top: 15em;

            }

        .dot {
            z-index: 8;
            cursor: pointer;
            height: 15px;
            width: 15px;
            background-color: rgba(99, 105, 97, 0.7);
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
            margin: 21em 0 0 1em;
          }
       }
    }

    #hielo {
        color: #fff;
        font-size: 1.3rem;
        &:hover {
            color: $logoColor;
        }
    }

.underline1 {
    border-bottom: 1px $underlineColor solid;
    padding-top: -3.5em;
    margin: 0 7em 0 7em;

    @include tablet {
        margin: -3em 15em -3em 15em;
    }

    @include desktop {
        margin: -4em 23em -3em 24em;
    }

    @include monitor {
        margin: -4em 30em -3em 30em;
    }
}

.section-a {
    margin-top: -6em;
    padding: 17em 1em 5em 1em;
    text-align: center;


    @include tablet {
        padding: 20em 2em 5em 2em;
    }

    @include monitor {
        margin: -12em 6em 0 3em;
    }

    .wrapper {
        background: #fff;
        display: inline-block;
        margin-top: -.3em;
        padding-bottom: 4em;
        
    h3 {
        text-align: center;
        color: $middleColor;
        font-size: .7em;
        font-weight: 100;
        padding: 2em 2em 0 2em;
        letter-spacing: .4em;
        line-height: 1.8em;
    }

    .underline2 {
        border-bottom: 1px #E2E2E2 solid;
        margin: 0 6em -1em 6em;

        @include tablet {
            margin: 0 12em -1em 12em;
        }

        @include desktop {
            margin: 0 8em 0 8em;
        }
    }

    h1 {
        font-weight: 100;
        font-size: 1.9em;
        color: #3B3B3B;
    }

    p {
        text-align: left;
        color: #BABABA;
        line-height: 1.7em;
        padding: 1em 2.5em 2em 2em;

        @include tablet {
            font-size: 1.2em;
        }

        @include desktop {
            font-size: 1em;
        }
    }

    .btn {
        border: 1px #D9D9D9 solid;       
        padding: 1em 6em 1em 6em;
        color: $hColor;
        font-size: .9em;

                    
        @include tablet {              
            padding: 1em 2em 1em 2em;
        }

        &:hover {
            background: #ECECEC;
        }      
    }
}
}

.section-b {
    @extend .section-a;
    padding-top: 3em;

    @include desktop {
        padding-top: 20em;
    }
}

.parallax-text {
    position: relative;
    text-align: center;
    padding-bottom: 1em;

    p {
        color: #B2B2B2;
        padding: 4em 2em 0 2em; 
        letter-spacing: .2em;
        line-height: 1.5em;
        font-size: .8em;
        margin-top: -18em;

        @include tablet {
            margin-top: -18em;
            padding: 5em 5em 10em 5em;
        }

        @include desktop {
            font-size: .6em;
        }

        @include monitor {
            font-size: .7em;
        }
    }

    .underline3 {
        @extend .underline1;
        color: #63726C;

        @include tablet {
            margin-top: -8em;
        }

        @include desktop {
            margin: -7em 14em -3em 14em;
        }

        @include monitor {
            margin: -7em 23em -3em 23em;
        }
    }

    h1 {
        color: #fff;
        font-weight: 100;

        @include tablet {
            margin-top: 2em;
        }

        @include desktop {
            font-size: 1.9em;
        }
    }

}

@include desktop {
    main {
        display: grid;
        grid-template-columns: 5fr 5fr;
        padding: 20em 0 0 0;
        margin: 3em -3em 0 -3em;
        padding-top: -6em;

    }
}

.parallax2 {
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url(../Images/bg.jpg)  ;
    width: 100%;
    height: 15em;
    background-size: cover;

    @include tablet {
        background-position: center;
        padding-bottom: 2em;
    }

    @include desktop {
        background-attachment: fixed;
    }
}

.section-c {

    .container {
        @extend .parallax-text;
        padding-top: 15em;


        @include tablet {
            margin-top: 4em;
        }

        h1 {
            color: #1D1D1D;
            padding-bottom: em;
        }
    }

    .grid {

        .gallery {
            margin: 0 1em 2em 1em;
            border: 1em #fff solid;

            @include tablet {
                margin: 0 2em 2em 2em;
            }
        }
   
            @include desktop {
            margin: 0 0 3em 0;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            }  

            @include monitor {
                margin: -2em 3em 0 3em;

            }
    }
}

.footer {
    background: #000;

    .nav-links {
        display: flex;
        justify-content: center;
        color: #808080;
        padding: 3em ;

        li {
            a {
                color: #808080;
                padding: 10px;

                &:hover {
                    color: white;
                }
                
            }
        }
    }

    p {
        color: #808080;
        text-align: center;
        margin-top: -2em;
        padding-bottom: 5em;
        margin-bottom: -1em;
    
}
}
