$primary-color: #3d4c58;
$second-color: #4ba0e8;
$light-gray: #99a0a6;
$green: #6fbf52;

@mixin iphone {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin ipad {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin ipadPro {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

body {
  color: $primary-color;
}

#contact-heading {
  width: 90%;
  margin: auto;
  margin-top: 4em;

  @include ipad {
    text-align: center;
    margin-bottom: 2em;
  }
}

.contact-container {
  width: 90%;
  margin: auto;
  margin-bottom: 5em;

  @include ipad() {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.office-section {
  ul {
    @include desktop() {
      line-height: 2em;
    }
    li {
      display: flex;
      font-weight: 900;

      img {
        width: 25px;
        height: 25px;
        margin-right: 0.5em;
      }
    }
  }
}

.contact-section {
  margin-top: -1.5em;

  @include desktop {
    margin-top: -2.5em;
  }

  h1 {
    // text-align: center;
  }

  input,
  textarea {
    border: 1px solid #ccc;
    outline: none;
    width: 300px;
    height: 35px;
    padding-left: 0.5em;
    border-radius: 5px;
    margin-bottom: 1em;
    display: block;

    @include ipadPro {
      width: 400px;
    }

    @include desktop() {
      width: 500px;
    }
  }

  textarea {
    height: 100px;
    resize: none;
    padding-top: 0.5em;
    margin-bottom: 2em;
  }

  #send-btn {
    color: $primary-color;
    border: 2px solid $second-color;
    padding: 0.3em 1.5em;
    border-radius: 5px;
    transition: 200ms;

    @include desktop() {
      padding: 0.4em 3em;
    }

    &:hover {
      background: $second-color;
      color: #fff;
    }
  }
}
