body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-header {
  position: fixed;
  background: #fff;
  top: 0;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9999;
  border-bottom: 1px solid #99a0a6;
}

.logo {
  width: 150px;
  height: 40px;
}

.mobile-header {
  display: none;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1024px) {
  .mobile-header {
    display: none;
  }
}

.mobile-header a {
  color: #3d4c58;
}

.mobile-header .hamburger {
  width: 30px;
  height: 21px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 999999;
}

.mobile-header .hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #3d4c58;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.mobile-header .hamburger span:nth-child(1) {
  top: 0;
}

.mobile-header .hamburger span:nth-child(2) {
  top: 10px;
}

.mobile-header .hamburger span:nth-child(3) {
  top: 10px;
}

.mobile-header .hamburger span:nth-child(4) {
  top: 20px;
}

.mobile-header .hamburger span:nth-child(1).open {
  top: 10px;
  width: 0%;
  left: 50%;
}

.mobile-header .hamburger span:nth-child(2).open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-header .hamburger span:nth-child(3).open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-header .hamburger span:nth-child(4).open {
  top: 10px;
  width: 0%;
  left: 50%;
}

.mobile-header .mobile-nav-links {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100vh;
  font-weight: 900;
  left: 0;
  top: -100%;
}

.mobile-header .mobile-nav-links .header-underline {
  border-bottom: 1px solid #c5ced5;
  width: 100%;
}

.mobile-header .mobile-nav-links li {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
}

.mobile-header .mobile-nav-links li .right-arrow {
  width: 15px;
  height: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mobile-header .mobile-nav-links li .right-arrow.menu-clicked {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-header .mobile-nav-links .menu {
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mobile-header .mobile-nav-links .menu.menu-clicked {
  color: #4ba0e8;
}

.mobile-header .mobile-nav-links .submenu {
  background: #f0f0f0;
  font-weight: 100;
  font-size: 0.9em;
  display: none;
}

.mobile-header .mobile-nav-links .submenu li {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.mobile-header .mobile-nav-links .submenu.menu-clicked {
  display: block;
}

.mobile-header .mobile-nav-links.ham-clicked {
  top: 50px;
  -webkit-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
}

.desktop-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 900;
}

@media (max-width: 1023px) {
  .desktop-header {
    display: none;
  }
}

.desktop-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023px) {
  .desktop-nav-links {
    display: none;
  }
}

@media (min-width: 1200px) {
  .desktop-nav-links {
    margin-right: 3em;
    width: 40%;
  }
}

.desktop-nav-links li {
  position: relative;
}

.desktop-nav-links a {
  color: #3d4c58;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.desktop-nav-links a:hover {
  color: #4ba0e8;
}

.desktop-nav-links #services-header-dropdown {
  display: none;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(85, 85, 85, 0.17);
          box-shadow: 0 0 30px rgba(85, 85, 85, 0.17);
  width: 250px;
  top: 2.5em;
  left: -3em;
}

.desktop-nav-links #services-header-dropdown li {
  padding: 1em 1em;
}

.desktop-nav-links #services-header-dropdown li a {
  font-weight: 100;
}

.desktop-nav-links #services-header-dropdown .header-dropdown-underline {
  border-bottom: 1px solid #dddddd;
}

@-webkit-keyframes mobile-nav-links {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes mobile-nav-links {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
/*# sourceMappingURL=header.css.map */